h1 {
    margin-left: 12em;
    align-content: center;
}

p {
    margin-left: 5px;
}

.about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-evenly;
}

.about__blurb {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.homePic {
    float: right;
}