body {
    background-color: rgb(0, 0, 0);
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0)
}

#logo {
    background-color: rgba(146, 146, 146, 0.877);
    margin: 0;
}

