.canvas__container {
    align-items: center;
}

#save {
  margin-left: 1rem ;
  margin-right: 1rem;
}

#canvas {
    border-style: double;
    background-color: rgb(153, 150, 147);
}

.customDrawing {
  text-size-adjust: 900%;
}