/* #canvas {
    background-color: rgb(253, 248, 232);
    border: 5px solid #333;
} */



  .canvas__container {
      align-items: center;
  }

  #save {
    margin-left: 20px ;
  }

  #canvas {
      border-style: double;
      background-color: rgb(153, 150, 147);
      margin-left: 20px;
  }