img {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    border-style: solid;
    border-color: black;
    background-color: rgba(160, 160, 160, 0.87);
    margin-left: 3em;
    padding-bottom: 5px;
}

.combinations {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    background-image: url(../../images/combo-list-background.png);
    border: solid;
    border-top-style: ridge;
    border-color: rgb(168, 89, 89);
    color:rgb(255, 255, 255);
    font-weight: 700;
    border-bottom-style:inset; 
    border-width: 10px;
    width: 22%;
    margin: 2em 2em 2em 2em;
    margin-right: 0;
    background-size: inherit;
    /* background-size: 80%; */
    background-color: rgba(230, 230, 195, 0.747);
    padding: 2em;
}

.combinations__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 0;
    content: inherit;
    border: solid;
    text-shadow: black;
}

.combination__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

