.form--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form--sign-in {
    display: flex;
    justify-content: center;
}